{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "root": ["./"],
        "foremanReact": "../foreman/webpack/assets/javascripts/react_app"
      }
    }],
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-object-assign",
    "lodash",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "root": ["./"],
            "foremanReact": "./webpack/__mocks__/foremanReact"
          }
        }],
        "dynamic-import-node"
      ]
    }
  }
}
