.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
Gemfile.lock
.idea
.*.sw?
locale/*.mo
locale/*/*.pox
locale/*/*.edit.po
locale/*/*.po.time_stamp
node_modules
package-lock.json
coverage/
