.tasks-donut-card {
  &.not-focused {
    .card-pf-title,
    .card-pf-body {
      opacity: 0.6;
    }
  }
  .card-pf-title {
    text-align: center;
    font-size: 180%;
    cursor: pointer;
  }

  .card-pf-body {
    padding-left: 15px;
  }

  &.selected-tasks-card {
    .card-pf-title {
      font-weight: bold;
    }
  }
}
