.tasks-donut-card {
  &.not-focused {
    .pf-v5-c-card__title-text,
    .card-pf-body {
      opacity: 0.6;
    }
  }
  .pf-v5-c-card__title-text {
    text-align: center;
    font-size: 180%;
    cursor: pointer;
  }

  &.selected-tasks-card {
    .pf-v5-c-card__title-text {
      font-weight: bold;
    }
  }
}
