<%= alert(:close => false, :class => 'alert-info', :header => '',
          :text => _("You can find resource locks on this page. Exclusive lock marked with locked icon means that no other task can use locked resource while this task is running. Non-exclusive lock marked with unlocked icon means other tasks can access the resource freely, it is only used to indicate the relation of this task with the resource")) %>

<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">
    <% @task.locks.each do |lock| %>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="card-pf card-pf-accented card-pf-aggregate-status">
          <h2 class="card-pf-title">
            <span class="fa <%= lock.exclusive ? 'fa-lock' : 'fa-unlock-alt' %>"></span> <%= lock.name %>
          </h2>
          <div class="card-pf-body">
            <%= format('%s id:%s', lock.resource_type, lock.resource_id) %><br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
