<% content_for(:javascripts) do %>
    <%= webpacked_plugins_js_for :'foreman-tasks' %>
<% end %>
<% content_for(:stylesheets) do %>
    <%= webpacked_plugins_css_for :'foreman-tasks' %>
<% end %>
<% content_for(:before_search_bar) do %>
  <div id="tasks-dashboard"></div>
  <%= mount_react_component('TasksDashboard', '#tasks-dashboard') %>
<% end %>

<% title _("Tasks") %>
<% title_actions csv_link, help_button %>
<% stylesheet 'foreman_tasks/tasks' %>

<div id="tasks-table"></div>
<%= mount_react_component('TasksTable', '#tasks-table') %>
