<% stylesheet 'foreman_tasks/tasks' %>
<% content_for(:javascripts) do %>
  <%= webpacked_plugins_js_for :'foreman-tasks' %>
<% end %>
<% content_for(:stylesheets) do %>
    <%= webpacked_plugins_css_for :'foreman-tasks' %>
<% end %>
<%= breadcrumbs(
  items: [
    {
      caption: _('Tasks'),
      url: url_for(foreman_tasks_tasks_path)
    },
    {
      caption: format_task_input(@task)
    }
  ],
  name_field: 'action',
  resource_url: foreman_tasks_api_tasks_path,
  switcher_item_url: foreman_tasks_task_path(:id => ':id')
) %>


<div class="task-details" id="foremanTaskDetails">
</div>


<%= mount_react_component('TaskDetails', '#foremanTaskDetails', {id: @task.id, external_id: @task.external_id }.to_json, { :flatten_data => true })  %>
