<% stylesheet 'foreman_tasks/tasks' %>
<% content_for(:javascripts) do %>
  <%= webpacked_plugins_js_for :'foreman-tasks' %>
<% end %>
<% content_for(:stylesheets) do %>
  <%= webpacked_plugins_css_for :'foreman-tasks' %>
<% end %>
<%= breadcrumbs(
  items: breadcrumb_items,
  name_field: 'action',
  resource_url: foreman_tasks_api_tasks_path,
  switcher_item_url: foreman_tasks_task_path(:id => ':id')
) %>


<div class="task-details" id="foremanTaskDetails">
</div>


<%= mount_react_component('TaskDetails', '#foremanTaskDetails')  %>
