.tasks-donut-chart {
  .c3.not-focused {
    opacity: 0.3;
  }
  .c3-chart-arcs-title {
    cursor: pointer;

    &:hover {
      .donut-title-big-pf,
      .donut-title-small-pf {
        font-weight: bold;
      }
    }
  }

  &.tasks-donut-selected {
    .c3-chart-arcs-title {
      .donut-title-big-pf,
      .donut-title-small-pf {
        font-weight: bold;
      }
    }
  }
}
