.scheduled-tasks-card {
  text-align: center;
  .not-focused {
    opacity: 0.3;
  }
  .scheduled-data {
    padding-right: 15px;
    cursor: pointer;
    font-size: 40px;
    font-weight: 300;
    transition: font-weight 50ms ease-in;
    p {
      font-size: 20px;
      margin: 0;
    }
    * {
      margin: 10px;
    }

    &:hover {
      transition: font-weight 50ms ease-in;
      font-weight: 600;
    }
  }
}
