.stopped-tasks-card {
  .stopped-table {

    td,
    th {
      text-align: center;
      padding-left: 5px;
      width: 33%;

      &:first-child {
        text-align: left;
      }
    }

    td {
      &.active {
        font-weight: bold;
        background-color: #def3fe;
      }
    }
  }

  .other-active {
    text-decoration: underline;
  }
}
