.stopped-tasks-card {
  .stopped-table {
    width: 100%;
    border: none;
    table-layout: fixed;

    thead {
      background-color: transparent;
      background-image: none;
      tr {
        th {
          font-weight: bold;
          border: none;
        }
      }
    }

    td,
    th {
      text-align: center;
      padding-left: 5px;
      width: 33%;

      &:first-child {
        text-align: left;
      }
    }

    td {
      &.active {
        font-weight: bold;
      }
    }
    .data-col {
      &:hover {
        cursor: pointer;
        border: 1px solid #d1d1d1;
        background-color: #def3fe;
      }
    }
  }

  .other-active {
    text-decoration: underline;
  }

  .pficon {
    margin-right: 5px;
  }

  .btn-link {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
