.task-details-react {
  a,
  #pf-tab-section-1-task-details-tabs > button {
    margin-right: 3px;
  }
  .container {
    margin: 0;
  }

  pre {
    white-space: pre-wrap;
    word-break: normal;
  }

  .param-name {
    display: inline-block;
    width: 10em;
  }

  .details-name {
    overflow-wrap: anywhere;
  }
}
