.task-details-react {
  .progress-label-top-right {
    font-size: 11px;
    text-align: right;
  }
  a,
  button {
    margin-right: 3px;
  }
  .container {
    margin: 0;
  }
  .spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%; /* IE 9 */
  }

  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .dynflow-button > span {
    pointer-events: auto;
  }

  pre {
    white-space: pre;
    word-break: normal;
  }

  .param-name {
    display: inline-block;
    width: 10em;
  }
}
