# Logging configuration can be changed by uncommenting the loggers
# section and the logger configuration desired.
#
# :foreman-tasks:
#   :loggers:
#     :dynflow:
#       :enabled: true
#     :action:
#       :enabled: true
